.pet-sitter-info-card {
  max-width: 630px;
  min-width: 460px;
  background-color: #fffdf4;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
  border-radius: 20px;

  .pet-sitter-info {
    padding: 20px;
    min-width: 250px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  * {
    margin-top: 20px;
  }

  .sitterId {
    display: none;
  }

  .name {
    font-size: 1.5em;
    font-weight: 500;
  }

  .type,
  .location {
    font-size: 0.9em;
  }

  .location {
    margin-top: 5px;
  }

  h6 {
    margin-right: auto;
    margin-left: 45px;
    font-weight: 600;
    font-size: large;
  }

  img {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    width: 240px;
    height: 240px;
  }

  .description {
    padding: 0 50px;
  }

  .experience {
    margin-right: auto;
    margin-left: 50px;
    margin-top: 10px;

    li {
      margin-top: 10px;
    }
  }

  .check {
    display: flex;
    align-items: center;
    justify-content: start;

    span {
      display: flex;
      align-items: center;
      background-color: #ffc800;
      padding: 6px 10px;
      border-radius: 5px;
      font-size: 14px;
      margin-right: 10px;
      font-weight: 500;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
