.mypage {
  background-color: #f5f5f5;
  min-height: 90vh;
  padding: 140px 0px 80px;

  &_inner {
    max-width: 1200px;
    padding: 0px 30px;
    margin: 0px auto;
    display: flex;
    align-items: start;
  }

  &_left {
    width: 30%;
    margin-right: 2%;
  }

  &_right {
    width: 68%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(10, 10, 10, 0.07);

    h4 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &-info {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0px 10px rgba(10, 10, 10, 0.07);
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 20px;

    >div {
      &:nth-of-type(1) {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
      }
    }

    &_img {
      width: 80px;
      height: 80px;
      position: relative;
      margin-right: 20px;

      &-box {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-color: #ebeeff;
        cursor: pointer;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.defalut {
          width: 100%;
        }
      }

      .camera {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: #632ed8;
        font-size: 0;
        padding: 6px;
        border-radius: 50px;
        cursor: pointer;
      }

      svg {
        width: 12px;
        fill: #fff;
      }
    }

    &_text {
      flex: 1 0;

      h5 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color: #555;
      }
    }
  }

  &-point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px;
    background-color: #f4f6fe;
    border-radius: 10px;
    margin-bottom: 10px;

    h5 {
      font-weight: 900;
    }

    p {
      font-weight: bold;
    }

    span {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #632ed8;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      font-size: 11px;
      font-weight: bold;
      position: relative;
      top: -1px;
      font-family: 'Roboto', sans-serif;
    }
  }

  &-expert {
    width: 100%;

    button[type='button'] {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      background-color: #632ed8;
      color: #fff;
      padding: 18px;
      border-radius: 10px;
      cursor: pointer;
    }

    svg {
      width: 15px;
      margin-right: 10px;
      fill: #fff;
    }

    &.on {
      >button[type='button'] {
        display: flex;
        justify-content: space-between;

        >div {
          display: flex;
          font-size: 14px;
          align-items: center;

          &:nth-of-type(1) {
            svg {
              width: 20px;
            }
          }

        }
      }
    }

    .bell-length {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: #632ed8;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      font-weight: 700;
    }
  }

  &-nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0px 10px rgba(10, 10, 10, 0.07);
    padding: 30px;
    border-radius: 10px;

    ul li {
      a {
        display: inline-block;
        width: 100%;
        padding: 15px 10px;
        border-radius: 5px;
        font-weight: 500;

        &:hover {
          background-color: #f4f6fe;
        }
      }
    }
  }

  &-reservation {
    .mypage-board {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-bottom: 20px;

      li {
        flex: 1 0;
        background-color: #f4f6fe;
        padding: 20px;
        border-radius: 10px;

        p {
          font-weight: 500;
          margin-bottom: 10px;
        }

        strong {
          display: block;
          font-size: 20px;
        }
      }
    }

    .mypage-filter {
      display: flex;
      justify-content: start;
      margin-bottom: 20px;

      &_start-day {
        position: relative;
        margin-right: 30px;

        &::after {
          cursor: auto;
          position: absolute;
          top: 50%;
          right: -22px;
          content: '';
          display: block;
          width: 15px;
          height: 2px;
          background-color: #555;
        }
      }

      &_start-day,
      &_end-day {
        cursor: pointer;
        background-color: #f4f6fe;
        padding: 5px 10px;
        border-radius: 10px;

        .react-datepicker__calendar-icon {
          top: -2px;
          fill: #632ed8;
        }

        input {
          cursor: pointer;
          width: 125px;
          background-color: #f4f6fe;
          border: none;
          font-size: 15px;
          font-weight: 500;
          padding-left: 30px;
        }
      }

      &_end-day {
        margin-right: 10px;
      }

      &_state {
        min-width: 115px;
        margin-right: 10px;

        &-options {
          >div {
            cursor: pointer;
            background-color: #f4f6fe;
            border: none;
            padding: 2px 0px;
            border-radius: 10px;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      &_search {
        flex: 1 0;
        border-radius: 10px;
        background-color: #f4f6fe;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        margin-right: 10px;

        input {
          width: 100%;
          border: none;
          background-color: inherit;
          font-size: 14px;
          font-weight: 500;
        }
      }

      >button {
        background-color: #632ed8;
        color: #fff;
        padding: 10px 15px;
        border-radius: 10px;
      }
    }

    &-list {
      height: 680px;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      li {
        // border: 2px solid #eee;
        background-color: #fffdf4;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .noOrder {
        text-align: center;
        padding: 50px;
        color: #888;
        font-size: 22px;
      }

      &_state {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: #888;

        h6 {
          font-weight: 500;
          font-size: 14px;
        }

        >span {
          margin-left: 5px;
          padding: 3px 5px;
          background-color: #ffc800;
          color: #fff;
          border-radius: 45%;
          font-size: 14px;
        }

        p {
          margin-left: auto;
          margin-right: 0;
          font-weight: 500;
          font-size: 14px;

          span {
            color: #222;
            margin-left: 5px;
          }
        }
      }

      &_info {
        display: flex;
        width: 100%;
        align-items: center;

        .img-box {
          width: 140px;
          border-radius: 10px;
          margin-right: 20px;
          overflow: hidden;
          font-size: 0;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        &_right {
          display: flex;
          justify-content: space-between;
          flex: 1 0;
        }

        .text-box {
          flex: 1 0;

          .title {
            font-weight: 500;
            margin-bottom: 12px;

            span {
              color: #888;
              margin-right: 5px;
              font-weight: 300;
            }
          }

          h5 {
            font-size: 18px;
            margin-bottom: 12px;
            color: #222;
          }

          h6 {
            font-weight: 500;
            font-size: 14px;
            color: #555;
          }
        }

        .btn-box {
          display: flex;
          flex-direction: column;

          a {
            background-color: #ffc800;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: bold;
          }

          span {
            // padding: 10px;
            // border-radius: 5px;
            // font-weight: bold;
            font-size: 12px;
            text-align: center;
            // background-color: #fff;
            // border: 1px solid #ffc800;
          }

          button {
            background-color: #632ed8;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  &-account {
    &_setting {
      margin-bottom: 50px;

      .address-wrap {
        input {
          width: 350px;
        }
      }

      .address-wrap-2 {
        input {
          width: 250px;
        }
      }
    }

    .withdrawal {
      display: inline-block;
      padding: 7px 11px;
      border-radius: 8px;
      color: #f15746;
      font-size: 13px;
      margin-top: 10px;
      border: 1px solid #f15746;
      font-weight: 500;
      background-color: transparent;

      &:hover {
        background-color: #f15746;
        color: #fff;
      }
    }
  }

  &-join-expert {
    form {
      display: flex;
      flex-wrap: wrap;

      >div {
        display: flex;
        width: 100%;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 50px;

        >h6 {
          width: 100%;
          margin-bottom: 10px;
          font-size: 18px;
        }

        >p {
          width: 100%;
          margin-bottom: 10px;
          font-size: 14px;
          color: #555;
        }

        img {
          max-width: 100%;
        }

        &.mypage-join-expert_price {
          input[type='number'] {
            width: 80px;
            flex: 1 0;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      label {
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        padding: 14px 20px;
        background-color: #f4f6fe;
        margin-right: 5px;
        font-size: 14px;
        color: #555;
      }

      input {
        width: 180px;
        flex: 0 1;
        border: none;
        background-color: #f4f6fe;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;

        &:focus {
          outline-color: #632ed8;
        }

        &.mypage-join-expert_experience {
          flex: 1 0;
          font-size: 15px;
        }

        &.mypage-join-expert_title {
          flex: 1 0;
        }
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      button {
        background-color: #632ed8;
        padding: 10px 14px;
        color: #fff;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 10px;
      }

      input[type='file'] {
        min-width: 100%;
        flex: 1 0;
        font-size: 15px;
      }

      .file_img-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;
        padding: 15px;
        background-color: #f4f6fe;
        margin-top: 10px;
        border-radius: 10px;

        img {
          max-width: 300px;
        }
      }

      input[type='checkbox'] {
        display: none;
      }

      input[type='checkbox']:checked+.checkbox_label {
        &::before {
          content: '✔';
          background-color: #632ed8;
          color: #fff;
        }
      }

      .checkbox_label {
        border-radius: 5px;
        flex: 1 0;
        cursor: pointer;
        position: relative;
        padding-left: 35px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          border: 1px solid #632ed8;
          line-height: 13px;
          background-color: #fff;
          border-radius: 3px;
          font-size: 10px;
          text-align: center;
        }
      }

      .registration {
        margin-left: auto;
        padding: 11px 14px;
        background-color: #ffc800;
        border-radius: 5px;
        font-weight: bold;
        font-size: 15px;
        color: #111;
      }
    }

    &_experience-list {
      width: 100%;
      padding: 15px;
      background-color: #f4f6fe;
      border-radius: 5px;
      margin-bottom: 10px;

      li {
        display: flex;
        list-style-type: disc;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 15px;
        align-items: center;
        position: relative;
        padding-left: 15px;

        svg {
          margin-left: 10px;
          width: 17px;
          cursor: pointer;
          fill: #f15746;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #111;
        }
      }
    }
  }

  textarea {
    width: 100%;
    flex: 1 0;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f4f6fe;
    line-height: 1.5;
    resize: none;
    height: 220px;
    border: none;

    &:focus {
      outline-color: #632ed8;
    }
  }

  table {
    width: 100%;
    border-top: 1px solid #ebeeff;
    font-weight: 500;

    td {
      width: 150px;
      font-size: 14px;
      padding: 20px;
      border-bottom: 1px solid #ebeeff;

      svg {
        width: 15px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
        top: 1px;
        fill: #555;

        &:hover {
          fill: #111;
        }
      }

      >p {
        display: inline-block;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:nth-of-type(1) {
        background-color: #f4f6fe;
        border-right: 1px solid #ebeeff;
        font-weight: bold;
        color: #555;
      }

      &:nth-of-type(2) {
        width: calc(100% - 150px);
      }

      input {
        border: none;
        background-color: #f4f6fe;
        padding: 8px 10px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 15px;
        margin-right: 5px;
      }

      button {
        background-color: #632ed8;
        color: #fff;
        padding: 8px 12px;
        border-radius: 5px;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        &.cancel {
          background-color: #f15746;
        }
      }
    }
  }

  &-order-view {
    .accept-reject-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 600;

      button {
        padding: 15px;
      }

      :first-child {
        border-radius: 8px;
        color: #632ed8;
        font-size: 13px;
        border: 2px solid #632ed8;
        font-weight: 500;
        margin-right: 20px;

        &:hover {
          background-color: #632ed8;
          color: #fff;
        }
      }

      :last-child {
        border-radius: 8px;
        color: #f15746;
        font-size: 13px;
        border: 2px solid #f15746;
        font-weight: 500;
        margin-right: 30px;

        &:hover {
          background-color: #f15746;
          color: #fff;
        }
      }
    }

    >div {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      h5 {
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
      }

      table {
        width: 100%;

        ul {
          padding-left: 25px;

          li {
            list-style: disc;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &-review-write {
    form {
      display: flex;
      flex-wrap: wrap;

      >div {
        display: flex;
        width: 100%;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 50px;

        >h6 {
          width: 100%;
          margin-bottom: 10px;
          font-size: 18px;
        }

        >p {
          width: 100%;
          margin-bottom: 10px;
          font-size: 14px;
          color: #555;
        }

        img {
          max-width: 100%;
        }
      }

      label {
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        padding: 14px 20px;
        background-color: #f4f6fe;
        margin-right: 5px;
        font-size: 14px;
        color: #555;
      }

      input {
        width: 180px;
        flex: 0 1;
        border: none;
        background-color: #f4f6fe;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;

        &:focus {
          outline-color: #632ed8;
        }

        &.mypage-review-write_title {
          flex: 1 0;
        }
      }

      button {
        background-color: #632ed8;
        padding: 10px 14px;
        color: #fff;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 10px;
      }

      input[type='file'] {
        min-width: 100%;
        flex: 1 0;
        font-size: 15px;
      }

      .file_img-box {
        display: flex;
        gap: 15px;
        font-size: 0;
        padding: 15px;
        background-color: #f4f6fe;
        margin-top: 10px;
        border-radius: 10px;

        img {
          max-height: 300px;
          border: 1px solid #aaa;
        }
      }

      .registration {
        margin-left: auto;
        padding: 11px 14px;
        background-color: #ffc800;
        border-radius: 5px;
        font-weight: bold;
        font-size: 15px;
        color: #111;
      }

      .review-write_wrap {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        align-items: center;

        h6 {
          font-size: 18px;
          margin-right: 10px;
        }
      }
    }

    .mypage-review-write_stars {
      min-width: 115px;
      margin-right: 10px;

      &-rate {
        >div {
          cursor: pointer;
          border: 1px solid #eee;
          background-color: #fffdf4;
          border-radius: 10px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  // 리뷰 관리
  &-review {
    .mypage-board {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-bottom: 20px;

      li {
        flex: 1 0;
        background-color: #f4f6fe;
        padding: 20px;
        border-radius: 10px;

        p {
          font-weight: 500;
          margin-bottom: 10px;
        }

        strong {
          display: block;
          font-size: 20px;
        }
      }
    }

    .mypage-filter {
      display: flex;
      justify-content: start;
      margin-bottom: 20px;

      &_start-day {
        position: relative;
        margin-right: 30px;

        &::after {
          cursor: auto;
          position: absolute;
          top: 50%;
          right: -22px;
          content: '';
          display: block;
          width: 15px;
          height: 2px;
          background-color: #555;
        }
      }

      &_start-day,
      &_end-day {
        cursor: pointer;
        background-color: #f4f6fe;
        padding: 5px 10px;
        border-radius: 10px;

        .react-datepicker__calendar-icon {
          top: -2px;
          fill: #632ed8;
        }

        input {
          cursor: pointer;
          width: 125px;
          background-color: #f4f6fe;
          border: none;
          font-size: 15px;
          font-weight: 500;
          padding-left: 30px;
        }
      }

      &_end-day {
        margin-right: 10px;
      }

      &_state {
        min-width: 132px;
        margin-right: 10px;

        &-options {
          >div {
            cursor: pointer;
            background-color: #f4f6fe;
            border: none;
            padding: 2px 0px;
            border-radius: 10px;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      &_search {
        flex: 1 0;
        border-radius: 10px;
        background-color: #f4f6fe;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        margin-right: 10px;

        input {
          width: 100%;
          border: none;
          background-color: inherit;
          font-size: 14px;
          font-weight: 500;
        }
      }

      >button {
        background-color: #632ed8;
        color: #fff;
        padding: 10px 15px;
        border-radius: 10px;
      }
    }

    //// 여기까진 수정 없음

    &-list {
      li {
        background-color: #fffdf4;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &_state {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        color: #888;

        .review_user-profile {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .review_user-profile_img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
            border-radius: 50%;
            overflow: hidden;
          }

          .review_user-profile_name {
            color: #000;
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 6px;
          }

          .review_petsitter-title {
            color: #000;
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 6px;
          }
        }

        p {
          margin-top: 1px;
          margin-left: auto;
          margin-right: 0;
          font-weight: 500;
          font-size: 14px;

          span {
            color: #222;
            margin-left: 5px;
          }
        }
      }

      .text-box {
        .title {
          display: flex;
          align-items: center;

          h5 {
            font-size: 17px;
            font-weight: 600;
            color: #222;
          }

          span {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-size: 10px;
            font-weight: 500;
            background-color: #ebeeff;
            border-radius: 5px;
            padding: 3px 4px;

            svg {
              width: 12px;
              fill: #632ed8;
              margin-right: 4px;
            }
          }
        }

        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-height: 1.3;
          margin-top: 7px;

          &.expand {
            display: block;
          }
        }
      }

      .image-box {
        display: flex;

        .review_images {
          width: 180px;
          object-fit: cover;
          margin: 15px 15px 10px 0;
          border-radius: 5px;
          overflow: hidden;
        }
      }
    }
  }

  /* Modal.css */
  .modal-overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 주변을 어둡게 하는 배경색 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal {
    min-width: 400px;
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .modal_form {
      display: flex;
      flex-direction: column;

      .inquiry {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 700;
      }

      span {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .title {
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
        border: none;
        background-color: #f4f6fe;
        padding: 8px 12px;
        margin-bottom: 20px;
      }

      .content {
        resize: none;
        font-size: 16px;
        border-radius: 5px;
        line-height: 20px;
        border: none;
        background-color: #f4f6fe;
        padding: 8px 12px;
        height: 150px;
        margin-bottom: 10px;
      }

      .profile-image-edit {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      >input {
        margin: 50px;
      }

      .file_img-box>img {
        max-width: 600px;
        max-height: 400px;
      }

      .submit-button-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        >button.modal_submit {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          color: #222;
          font-weight: 600;
          font-size: 16px;
          padding: 12px 14px;
          width: 100%;
          background-color: #ffc800;
        }
      }
    }
  }

  .modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0;

    >svg {
      width: 30px;
      fill: #f15746;
    }
  }
}