.page-wrapper {
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 30px 60px;
  display: flex;
  align-items: start;

  &_left {
    width: 66%;
    margin-right: 2%;
  }
  &_right {
    width: 32%;
  }

  .pet-sitter-info-section {
    display: flex;
    justify-content: flex-start;

    .pet-sitter-info-card_inner {
      padding: 30px;
      min-width: 250px;
      background-color: #ffffff;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
      border-radius: 15px;
      margin: 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;
        width: 240px;
        height: 240px;
      }

      .name {
        font-size: 28px;
        font-weight: 600;
        margin: 50px 0 20px 0;
      }

      .info-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        text-align: center;

        * {
          background-color: #f4f6fe;
          padding: 10px;
          margin: 10px;
          font-size: 16px;
          font-weight: 500;
          border-radius: 5px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        }
      }

      h6 {
        display: inline-block;
        margin: 50px auto 15px 0;
        font-size: 24px;
        border-bottom: #632ed8 5px solid;
        padding-bottom: 10px;
        border-radius: 3px;
      }

      .title {
        margin-top: 15px;
        padding: 30px;
        font-size: 22px;
      }
      .introduction,
      .experience {
        width: 100%;

        & > p {
          background-color: #fffdf4;
          padding: 40px 45px;
          border-radius: 15px;
          font-size: 18px;
          line-height: 28px;
        }

        & > ul {
          background-color: #fffdf4;
          padding: 40px 45px;
          border-radius: 15px;
          font-size: 18px;
          line-height: 28px;
        }
      }

      .check {
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        span {
          svg {
            margin-top: 0;
          }

          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffc800;
          padding: 6px 10px;
          border-radius: 5px;
          font-size: 16px;
          margin-right: 10px;
          font-weight: 500;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .reservation-section {
    display: flex;
    flex-wrap: wrap;

    .reservation-card_inner {
      width: 100%;
      background-color: #ffffff;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
      border-radius: 15px;
      padding: 30px;
      margin-bottom: 20px;

      form {
        > div {
          margin-bottom: 40px;

          &:nth-last-of-type(2) {
            margin-bottom: 10px;
          }
          &:last-child {
            display: flex;
            justify-content: right;
            margin-bottom: 0;
          }
        }
      }

      h6 {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .date-time-select {
        > p {
          font-size: 15px;
          margin-bottom: 10px;
          font-weight: 500;
        }

        .date-select,
        .time-select {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          gap: 5px;

          input {
            padding: 10px;
            width: 100%;
            text-align: center;
            border: none;
            border-radius: 5px;
            background-color: #f4f6fe;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }

      .pet-select {
        select {
          margin-right: 5px;
        }

        .pet-select_options {
          display: flex;
          margin-bottom: 5px;

          select {
            flex: 1 0;
            border-radius: 5px;
            background-color: #f4f6fe;
            border: none;
            font-size: 16px;
            padding-left: 10px;
          }

          & > button {
            background-color: #ffc800;
            padding: 10px;
            border-radius: 5px;
            font-weight: 600;
          }
        }

        .pet-select_pet-list {
          background-color: #f4f6fe;
          border-radius: 5px;
          padding: 10px 15px;

          ul > li {
            display: flex;
            justify-content: flex-start;
            line-height: 25px;
            height: 25px;
            text-align: center;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 700;
          }

          button {
            margin-right: 10px;
            margin-left: auto;
            line-height: 25px;
            height: 25px;
            font-weight: 700;
          }
        }
        .pet-select_calculator {
          margin-top: 10px;
          padding-top: 15px;
          border-top: 1px solid #a9b0eb;
          font-size: 17px;
          font-weight: 700;
          text-align: right;
          span {
            color: #632ed8;
            font-weight: 800;
          }
        }
      }
      .request {
        display: flex;
        justify-content: center;
        align-items: center;

        textarea {
          width: 100%;
          resize: none;
          background-color: #f4f6fe;
          padding: 15px 20px;

          height: 120px;
          font-size: 16px;

          border: none;
          border-radius: 10px;
          line-height: 1.5;
        }
      }

     .request-btn {
        border-radius: 5px;
        background-color: #632ed8;
        color: #ffffff;
        font-size: 16px;
        padding: 12px 14px;
        width: 100%;
      }

      .inquiryWrite {
        border-radius: 5px;
        background-color: #ffc800;
        color: #222;
        font-size: 16px;
        padding: 10px 14px;
        font-weight: 600;
        width: 50%;
        margin-right: 5px;
      }
    }
  }
}
.pet-select_price-list {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  font-weight: 700;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
  &_text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    span {
      font-size: 18px;
      &:last-child {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  & > ul {
    font-weight: 500;

    li {
      display: flex;
      gap: 15px;
      margin-bottom: 10px;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        &:last-child {
          margin-left: auto;
        }
      }
      > div {
        width: 35px;
      }
      svg {
        width: 20px;
        fill: #632ed8;
        opacity: 0.6;
      }
      &:nth-of-type(3) {
        svg {
          width: 22px;
          opacity: 0.8;
        }
      }
      &:nth-of-type(4) {
        svg {
          width: 25px;
          opacity: 1;
        }
      }
    }
  }
}
.review-section {
  width: 100%;
  display: flex;

  .review-card_inner {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
      display: none;
      width: 0px;
    }

    height: 95%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
    border-radius: 15px;

    .review {
      padding: 30px;
      border-bottom: 1px solid #eee;
      &:last-child {
        border-bottom: none;
      }

      .review_title {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .review_user-profile {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .review_user-profile_img {
          width: 50px;
          margin-right: 10px;
        }

        .review_user-profile_name {
          display: inline-block;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 5px;
        }
      }

      .review_images {
        display: flex;
        margin-bottom: 20px;
        margin-top: 15px;

        .review_user-profile_img {
          width: 120px;
          object-fit: cover;
          margin-right: 10px;
          border-radius: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .review_user-comment {
        font-size: 16px;
        line-height: 1.3;
        font-weight: 500;
      }

      .review_pet-sitter {
        display: flex;

        .review_pet-sitter_profile {
          width: 50px;
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .review_pet-sitter_img {
            width: 100%;
            aspect-ratio: 1;
            margin-bottom: 10px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-size: 14px;
            font-weight: 500;
          }
        }

        .review_pet-siiter_comment {
          flex: 1 0;
          padding: 15px 20px;
          background-color: #f4f6fe;
          border-radius: 10px;
          line-height: 1.3;
        }
      }
    }
  }
}

.petsitter-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 20px;
  border-radius: 20px;
  background-color: #fffdf4;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
  transition: all 0.3s;
  margin-bottom: 20px;

  .petsitter_top {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .pt_img {
    width: 70px;
    height: 70px;
    background-color: #ffc800;
    border-radius: 20px;
    margin-right: 15px;
    overflow: hidden;

    > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top;
    }
  }
  .pt_detail {
    h4 {
      font-size: 18px;
      margin-bottom: 8px;
      letter-spacing: -0.8px;
    }
    p {
      display: flex;
      align-items: center;
      font-size: 14px;

      > span {
        color: #632ed8;
        font-weight: 700;
        margin-left: 5px;
      }
    }
    svg {
      width: 18px;
      fill: #ffc800;
      margin: 0px 5px;
      &:nth-of-type(1) {
        margin-left: 0;
      }
    }
  }
  .petsitter_mid {
    flex: 1 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    > ul {
      list-style-type: disc;
      padding-left: 20px;
      > li {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }

        p {
          color: #222;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }

  .petsitter_btm {
    p {
      display: flex;
      align-items: center;
      justify-content: start;
      span {
        display: flex;
        align-items: center;
        background-color: #ffc800;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 14px;
        margin-right: 10px;
        font-weight: 500;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    svg {
      width: 12px;
      margin-right: 5px;
    }
  }
}

.pet-sitter-Introduction {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
  margin-bottom: 20px;
  &_img {
    width: 100%;
    margin-bottom: 30px;
    > img {
      width: 100%;
      border-radius: 10px;
    }
  }

  &_title {
    margin-bottom: 50px;
    p {
      font-size: 15px;
      margin-bottom: 8px;
    }
    h5 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  &_tag {
    span {
      display: inline-block;
      background-color: #632ed8;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 13px;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &_detail {
    margin-bottom: 50px;
    h5 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      word-break: keep-all;
    }
  }
  &_service {
    h5 {
      font-size: 20px;
      margin-bottom: 30px;
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 25px;
      li {
        width: 30%;
        display: flex;
        align-items: center;
        svg {
          width: 30px;
          margin-right: 10px;
          fill: #632ed8;
        }
        strong {
          display: block;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
