.react-datepicker {
  border-radius: 5px;
  overflow: hidden;
}

.react-datepicker__input-container {
  & > input {
    caret-color: transparent;
  }

  & > input:focus {
    outline: #632ed8 3px solid;
  }
}
.react-datepicker__header--custom {
  margin: 0px !important;
  background-color: #fffdf4;
  border: none;
}

.custom-year {
  background-color: #fffdf4;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}

.react-datepicker__day--selected {
  background-color: #632ed8;
  color: #fff;
}

.react-datepicker__header--time--only {
  margin: 0px !important;
  background-color: #fffdf4;
  border: none;
}

.react-datepicker__time-list {
  & > li {
    margin: 0 !important;
    right: 5px !important;
    position: relative;
  }
}
.react-datepicker__time-list-item--selected {
  background-color: #632ed8 !important;
  color: #fff !important;
}
